{% extends 'blank.html.twig' %}

{#{% block title %}Edit Canal{% endblock %}#}


{% block body %}
    {% if app.user != canal %}
    <h1>{% trans %}No puedes acceder a esta página{% endtrans %}</h1>
        <a href="{{ path('video_index') }}">{% trans %}Volver al inicio{% endtrans %}</a>
        {% else %}
            {#<h1>Edit Canal</h1>#}      
            {% set buttonLabel = 'Actualizar' %}              
            <div id="editForm" class="container-fluid">
                {{ include('canal/_form.html.twig', {'button_label': buttonLabel|trans}) }}
            </div>
        
            {#<a href="{{ path('canal_index') }}">{% trans %}No puedes acceder a esta página{% endtrans %back to list</a>#}
        
            {#{{ include('canal/_delete_form.html.twig') }}#}
    {% endif %}

    
{% endblock %}
