{% extends 'blank.html.twig' %}

{#{% block title %}Edit Canal{% endblock %}#}


{% block body %}
    {% if app.user != canal %}
    <h1>No puedes acceder a esta página</h1>
        <a href="{{ path('prueba') }}">Volver a prueba</a>
        {% else %}
            {#<h1>Edit Canal</h1>#}                    
            <div id="editForm" class="w-50 m-auto">
                {{ include('canal/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        
            <a href="{{ path('canal_index') }}">back to list</a>
        
            {{ include('canal/_delete_form.html.twig') }}
    {% endif %}

    
{% endblock %}
