<div class="container-fluid">

    {% if videos | length == 0 and canales | length == 0 %}
        {% trans %} No existen resultados que coincidan con los parámetros de búsqueda {% endtrans %}
        {% else %}
            
            {% include "buscador/listaFiltros.html.twig" %}
            {% include "buscador/listaCanales.html.twig" with {'canales': canales} %}
            <div id="videosEncontrados">
                {% include "buscador/listaVideos.html.twig" with {'videos': videos} %}
            </div>
            <div id="videosEncontradosFiltrados" class="d-none">
                {% include "buscador/listaVideosFiltrados.html.twig" %}
            </div>
            
    {% endif %}
</div>
