<div class="container">

    {% if videos | length == 0 and canales | length == 0 %}
        No existen resultados que coincidan con los parámetros de búsqueda
        {% else %}
            
            {% include "buscador/listaFiltros.html.twig" %}
            {% include "buscador/listaCanales.html.twig" with {'canales': canales} %}
            <div id="videosEncontrados">
                {% include "buscador/listaVideos.html.twig" with {'videos': videos} %}
            </div>
            <div id="videosEncontradosFiltrados">
                {% include "buscador/listaVideosFiltrados.html.twig" %}
            </div>
            
    {% endif %}
</div>
