body {
    background-color: #000000 !important;
    color: #ffffff !important;
}


.imgCanal {
    width: 100%;
}

.table {
    color: #ffffff !important;
}
.dropdown-toggle::after { 
    content: none !important; 
} 
span {
    color: #aaaaaa;
}

.nombreCanal {
    font-size: larger;
}

::placeholder {
    color: #ffffff;
}

textarea {
    width: 100%;
}

#barraNavegacion {
    background-color: #202020 !important;
}

.blanco, .blanco:hover {
    color: #ffffff;
}