body {
    background-color: #000000 !important;
    color: #ffffff !important;
}

form {
    /*color: #000000 !important;*/
}

.imgCanal {
    width: 100%;
}

.table {
    color: #ffffff !important;
}
.dropdown-toggle::after { 
    content: none !important; 
} 
span {
    color: #aaaaaa;
}